.header {
  background: #555;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navTitle {
  color: white;
  cursor: default;
  text-decoration: none;
}

.navItem {
  color: white;
  cursor: default;
  text-decoration: none;
}

.navItem:last-child {
  margin-left: auto;
  padding: 20px;
}

body {
  background-image: url("Assets/Pictures/background_wallpaper.jpg");
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 102px;
}

/*
.navTitle {
  padding: 10px 16px;
  display: inline;
  color: white
}

.navItem {
  font-size: 15px;
  padding: 10px 16px;
  display: inline;
  color: white;
}*/

#mainBody {
  background-image: url('img_girl.jpg');
}