@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: "Merriweather";
}

li, a, button {
  font-size: 16px;
  text-decoration: none;
}

.header {
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navTitle {
  color: white;
  cursor: default;
  text-decoration: none;
}

.navItem {
  color: white;
  cursor: default;
  text-decoration: none;
}

.navItem:last-child {
  margin-left: auto;
  padding: 20px;
}

body {
  background-image: url("Assets/Pictures/background_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 102px;
}

.marketMain {
  display: grid;
  gap: 2vh;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  justify-content: space-evenly;
  justify-items: center;
}

.marketChild {
  background-color: blue;
  color: yellow;
  height: 100px;
  width: 100px;
}

#navList {
  display: flex;
  background-color: #555;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: none;
}


